<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  
</head>
<body>
<%- include ('../partials/header'); -%>

<div class="container">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1><%= title %></h1>
            <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
            <% } %>

            <form action="/users/signin" method="post">
                
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" name="username" class="form-control" placeholder="Email"/>
                </div>

                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Password"/>
                </div>

                <br>

                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Sign-in" />                    
                </div>

                <br>

                <div class="form-group">
                    Don't have an account?
                    <a href="/users/register" style="text-decoration: none">                
                        <i class="fas fa-user-plus"></i> 
                        Create one now!
                    </a>
                </div>

            </form>
            
        </div>
    <div>                      
</div>

<%- include ('../partials/footer'); -%>
</body>
</html>