<%- include ('../partials/header'); -%>

<div class="container-add">
    <div class="row">

        <div class="offset-md-3 col-md-3">
            <h1><%= title %></h1>
            <hr><br>
            <form action="/products/add" method="POST" validate>

                <div class="form-group">

                    <input type="hidden" name="id" value="<%= product._id %>">

                    <label>Select Category:</label>
                    <select name="category">
                        <option disabled selected>--select--</option>
                        <option <%- product.category == 0 ? "selected" : "Clothing" %> value="0">Clothing</option>
                        <option <%- product.category == 1 ? "selected" : "Furniture" %> value="1">Furniture</option>
                        <option <%- product.category == 2 ? "selected" : "Electronics" %> value="2">Electronics</option>
                        <option <%- product.category == 3 ? "selected" : "Outdoor" %> value="3">Outdoor</option>
                        <option <%- product.category == 4 ? "selected" : "Vehicles" %> value="4">Vehicles</option>
                        <option <%- product.category == 5 ? "selected" : "Other" %> value="5">Other</option>
                       </select>
                </div>

                <div class="form-group">
                    <label>Condition:</label>
                    <select name="condition">
                        <option disabled selected>--select--</option>
                        <option <%- product.condition == 0 ? "selected" : "New" %> value="0">Clothing</option>
                        <option <%- product.condition == 1 ? "selected" : "UsedLikeNew" %> value="1">Used - Like New</option>
                        <option <%- product.condition == 2 ? "selected" : "UsedGood" %> value="2">Used - Good</option>
                        <option <%- product.condition == 3 ? "selected" : "UsedFair" %> value="3">Used - Fair</option>
                       </select>
                </div>

                <div class="form-group">
                    <label>Ad Title:</label>
                    <input type="text" name="adTitle" value="<%= product.title %>" class="form-control" placeholder="minimum 6 characters"/>
                </div>

                <div class="form-group">
                    <label>Description:</label>
                    <textarea name="description" value="<%= product.description %>" rows="10" cols="100"></textarea>
                </div>

                <div class="form-group">
                    <div class="div0">
                    <div class="div1">
                    <label>Price:</label></div>
                    <div class="div2">
                    <input type="radio" name="price" <%- product.price == 0 ? "selected" : "dollarAmount" %> value="0"><span style="font-size: 18px;"> $ </span><input type="number" name="priceNum" value="<%= product.priceNum %>"/><br>
                    <input type="radio" name="price" <%- product.price == 1 ? "selected" : "Free" %> value="1"> Free<br>
                    <input type="radio" name="price" <%- product.price == 2 ? "selected" : "PleaseContact" %> value="2"> Please Contact<br>
                    <input type="radio" name="price" <%- product.price == 3 ? "selected" : "Swap/Trade" %> value="3"> Swap/Trade<br>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <div class="div0"><div class="div1">
                    <label>Phone Number:</label>
                    <p style="margin-top: 5px;">(optional)</p></div>
                    <div class="div2">
                        <input type="number" name="phoneNumber" value="<%= product.phoneNumber %>" class="form-control" placeholder="123 456 7890"/>
                    </div></div></div>

                <br>
                
                <div>
                    <input class="btn btn-primary" type="submit" value="Post your ad" />
                </div>
                <!-- <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> 
                    Post your ad
                </button>
                
                <a href="/products/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a> -->

            </form>
        </div>
    </div>
</div>

<%- include ('../partials/footer'); -%>